@* 라우팅 : URI 요청이 왔을 때 어떤 페이지 컴포넌트를 보여줘야하는지 규칙을 정하는 것 *@
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @* 기본 레이아웃 설정을 아래에서 해주고 있었다. *@
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
