@page "/"

@using BlazorApp.Data
@inject IFoodService foodService
@inject PaymentService paymentService;

@* 생명주기가 모두 다르다. *@
@inject SingletonService singleton;
@inject TransientService transient;
@inject ScopedService scoped;

<div>
	@foreach (var food in foodService.GetFoods())
	{
		<div>@food.Name</div>
		<div>@food.Price</div>
	}
</div>

<div>
	<h1>Singleton</h1>
	Guid: @singleton.ID;
	<h1>Transient</h1>
	Guid: @transient.ID;
	<h1>Scoped</h1>
	Guid: @scoped.ID;
</div>

@code
{
	// 이렇게 구현 할 경우, 의존성이 강해진다.
	// FoodService _foodService = new FoodService();

	// new FoodService가 문제가 된다.
	// IFoodService _foodService = new FoodService();

	protected override void OnInitialized()
	{
		
	}
}